@model CheckOutForm.Models.Devices

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Devices</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assignee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessorSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriveSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriveSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HardDriveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HardDriveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Optical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Optical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pwd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DevicesID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
